= render "shared/header", count_cart: @count_cart

.container
  -# banner 
  .row.mb-4
    .col
      %h1.h3
        Welcome to our Amenitiz Coffee
  .row 
    .col
  .row
    .col 
      %h1.h6
        Special menu for you

  .row 
    - @products.each do |product|
      .col-md-4.col-lg-4.col-sm-6.col-xs-12
        .card
          = image_tag "#{product.code}.jpeg", class: "card-img-top"
          .card-body
            %h5.card-title
              = product.name
            %p.card-text
              = product.code
            %p.card-text
              €
              = product.price
            = link_to "Add to cart", cart_add_line_item_path(product_id: product.id), method: :post, local: false, class: "btn btn-primary",  data: { turbo_method: :post } 
